*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Scheherazade New", sans-serif;
  color: white;
  font-weight: 400;
}

body {
  overflow-x: hidden;
  font-weight: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}
h1 {
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: rgb(85, 34, 34);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100vw;
  height: 90vh;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activity_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.line {
  height: 6vh;
  width: 2px;
  background-color: black;
}
